[user]
	name = Martin Litre
	# email and signingkey live in ~/.config/git/local (git-ignored)
[include]
	path = ~/.config/git/local
[commit]
	verbose = true
	gpgsign = true
[tag]
	gpgsign = true
	sort = -version:refname
[gpg]
	format = openpgp
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesFile = ~/.config/git/ignore
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Kanagawa
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
[rebase]
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicPrefix = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[merge]
	conflictStyle = zdiff3
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -sb
	lg = log --oneline --graph --decorate -20
	fixup = commit --fixup
	wip = commit -am wip --no-gpg-sign
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[hook "signoff"]
	event = prepare-commit-msg
	command = ~/.config/git/hooks/prepare-commit-msg
