[Desktop Entry]
Version=1.0
Name=Chromium (Personal)
GenericName=Web Browser
Comment=Chromium, Personal profile
Exec=/home/mlitre/.local/lib/chromium-profiles/personal/chromium %U
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=chromium
StartupNotify=true
Actions=new-private-window;

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/home/mlitre/.local/lib/chromium-profiles/personal/chromium --incognito
